flows/Procurement-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ProcurementToStock</name>
        <label>ProcurementToStock</label>
        <locationX>253</locationX>
        <locationY>222</locationY>
        <actionName>ProcurementItem</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputParameters>
            <name>price</name>
            <value>
                <elementReference>List_Price</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>itemName</name>
            <value>
                <elementReference>itemName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>minStock</name>
            <value>
                <elementReference>Minimum_Count_On_Hand</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>itemDescription</name>
            <value>
                <elementReference>itemDescription</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>returnMessage</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>returnID</assignToReference>
            <name>referenceID</name>
        </outputParameters>
    </actionCalls>
    <interviewLabel>Procurement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Procurement</label>
    <processType>Flow</processType>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>255</locationX>
        <locationY>323</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Results</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;message: {!returnMessage}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Reference Number: {!returnID}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>491</locationX>
        <locationY>222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMessages</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ProcurementItemCreate</name>
        <label>ProcurementItemCreate</label>
        <locationX>253</locationX>
        <locationY>125</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ProcurementToStock</targetReference>
        </connector>
        <fields>
            <name>List_Price</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Price</elementReference>
            </defaultValue>
            <fieldText>List Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>itemName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>name</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>itemDescription</name>
            <defaultValue>
                <elementReference>description</elementReference>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Minimum_Count_On_Hand</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>min</elementReference>
            </defaultValue>
            <fieldText>Minimum Count On Hand</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>ProcurementItemCreate</startElementReference>
    <variables>
        <name>description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>min</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Flow Item</stringValue>
        </value>
    </variables>
    <variables>
        <name>Price</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>12.12</numberValue>
        </value>
    </variables>
    <variables>
        <name>returnID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
